<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fields name="params" addfieldprefix="Joomleague\Component\Joomleague\Administrator\Field">
		<fieldset name="dashboard" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_DASHBOARD">
			<field
				name="dashboard_club_id"
				type="sql"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_CLUB_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_CLUB_DESC"
				query="SELECT id, name FROM #__joomleague_club ORDER BY name"
				key_field="id"
				value_field="name"
				default=""
			>
				<option value="">JNONE</option>
			</field>
			<field
				name="dashboard_match_limit"
				type="number"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MATCH_LIMIT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MATCH_LIMIT_DESC"
				default="10"
				min="1"
				max="50"
				step="1"
			/>
			<field
				name="dashboard_missing_results_first"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MISSING_RESULTS_FIRST_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MISSING_RESULTS_FIRST_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
		</fieldset>

		<fieldset name="lists" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_LISTS">
			<field
				name="default_list_limit"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_DEFAULT_LIST_LIMIT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DEFAULT_LIST_LIMIT_DESC"
				default="20"
				filter="integer"
			>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</field>
			<field
				name="default_admin_ordering"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_DEFAULT_ADMIN_ORDERING_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DEFAULT_ADMIN_ORDERING_DESC"
				default="id_desc"
			>
				<option value="id_desc">COM_JOOMLEAGUE_CONFIG_ORDER_ID_DESC</option>
				<option value="id_asc">COM_JOOMLEAGUE_CONFIG_ORDER_ID_ASC</option>
				<option value="name_asc">COM_JOOMLEAGUE_CONFIG_ORDER_NAME_ASC</option>
				<option value="ordering_asc">COM_JOOMLEAGUE_CONFIG_ORDER_ORDERING_ASC</option>
			</field>
		</fieldset>

		<fieldset name="matches" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_MATCHES">
			<field
				name="match_timezone"
				type="timezone"
				label="COM_JOOMLEAGUE_CONFIG_MATCH_TIMEZONE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_MATCH_TIMEZONE_DESC"
				default="Europe/Prague"
			/>
			<field
				name="prefer_team_playground"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_PREFER_TEAM_PLAYGROUND_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PREFER_TEAM_PLAYGROUND_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="lineup_rows"
				type="number"
				label="COM_JOOMLEAGUE_CONFIG_LINEUP_ROWS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_LINEUP_ROWS_DESC"
				default="22"
				min="11"
				max="50"
				step="1"
			/>
		</fieldset>

		<fieldset name="templates" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_TEMPLATES">
			<field
				name="enable_template_inheritance"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_TEMPLATE_INHERITANCE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_TEMPLATE_INHERITANCE_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
		</fieldset>

		<fieldset name="sports_bootstrap" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_SPORTS_BOOTSTRAP">
			<field
				name="sports_bootstrap_profile"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_PROFILE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_PROFILE_DESC"
				default=""
			>
				<option value="">JNONE</option>
				<option value="all">COM_JOOMLEAGUE_CONFIG_SPORT_ALL</option>
				<option value="football">COM_JOOMLEAGUE_CONFIG_SPORT_FOOTBALL</option>
				<option value="ice_hockey">COM_JOOMLEAGUE_CONFIG_SPORT_ICE_HOCKEY</option>
				<option value="basketball">COM_JOOMLEAGUE_CONFIG_SPORT_BASKETBALL</option>
				<option value="handball">COM_JOOMLEAGUE_CONFIG_SPORT_HANDBALL</option>
				<option value="volleyball">COM_JOOMLEAGUE_CONFIG_SPORT_VOLLEYBALL</option>
			</field>
			<field
				name="sports_bootstrap_create_positions"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_POSITIONS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_POSITIONS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create_eventtypes"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_EVENTS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_EVENTS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create_statistics"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_STATISTICS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_STATISTICS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create"
				type="sportsbootstrap"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_CREATE_LABEL"
			/>
		</fieldset>

		<fieldset name="media" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_MEDIA">
			<field
				name="images_base_path"
				type="text"
				label="COM_JOOMLEAGUE_CONFIG_IMAGES_BASE_PATH_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_IMAGES_BASE_PATH_DESC"
				default="images/com_joomleague"
				filter="path"
			/>
		</fieldset>
		<fieldset name="telemetry" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_TELEMETRY">
			<field
				name="telemetry_note"
				type="note"
				label="COM_JOOMLEAGUE_CONFIG_TELEMETRY_NOTE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_TELEMETRY_NOTE_DESC"
			/>
			<field
				name="telemetry_consent"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_TELEMETRY_CONSENT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_TELEMETRY_CONSENT_DESC"
				default=""
			>
				<option value="">COM_JOOMLEAGUE_CONFIG_TELEMETRY_UNSET</option>
				<option value="once">COM_JOOMLEAGUE_CONFIG_TELEMETRY_ONCE</option>
				<option value="monthly">COM_JOOMLEAGUE_CONFIG_TELEMETRY_MONTHLY</option>
				<option value="never">COM_JOOMLEAGUE_CONFIG_TELEMETRY_NEVER</option>
			</field>
		</fieldset>
	</fields>
</config>
