<?xml version="1.0" encoding="UTF-8"?>
<config addfieldprefix="Joomleague\Component\Joomleague\Administrator\Field">
		<fieldset name="dashboard" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_DASHBOARD">
			<field
				name="dashboard_club_id"
				type="sql"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_CLUB_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_CLUB_DESC"
				query="SELECT id, name FROM #__joomleague_club ORDER BY name"
				key_field="id"
				value_field="name"
				default=""
			>
				<option value="">JNONE</option>
			</field>
			<field
				name="dashboard_match_limit"
				type="number"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MATCH_LIMIT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MATCH_LIMIT_DESC"
				default="10"
				min="1"
				max="50"
				step="1"
			/>
			<field
				name="dashboard_missing_results_first"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MISSING_RESULTS_FIRST_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DASHBOARD_MISSING_RESULTS_FIRST_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
		</fieldset>

		<fieldset name="lists" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_LISTS">
			<field
				name="default_list_limit"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_DEFAULT_LIST_LIMIT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DEFAULT_LIST_LIMIT_DESC"
				default="20"
				filter="integer"
			>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</field>
			<field
				name="default_admin_ordering"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_DEFAULT_ADMIN_ORDERING_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_DEFAULT_ADMIN_ORDERING_DESC"
				default="id_desc"
			>
				<option value="id_desc">COM_JOOMLEAGUE_CONFIG_ORDER_ID_DESC</option>
				<option value="id_asc">COM_JOOMLEAGUE_CONFIG_ORDER_ID_ASC</option>
				<option value="name_asc">COM_JOOMLEAGUE_CONFIG_ORDER_NAME_ASC</option>
				<option value="ordering_asc">COM_JOOMLEAGUE_CONFIG_ORDER_ORDERING_ASC</option>
			</field>
		</fieldset>

		<fieldset name="matches" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_MATCHES">
			<field
				name="match_timezone"
				type="timezone"
				label="COM_JOOMLEAGUE_CONFIG_MATCH_TIMEZONE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_MATCH_TIMEZONE_DESC"
				default="Europe/Prague"
			/>
			<field
				name="prefer_team_playground"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_PREFER_TEAM_PLAYGROUND_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PREFER_TEAM_PLAYGROUND_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="lineup_rows"
				type="number"
				label="COM_JOOMLEAGUE_CONFIG_LINEUP_ROWS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_LINEUP_ROWS_DESC"
				default="22"
				min="11"
				max="50"
				step="1"
			/>
		</fieldset>

		<fieldset name="sports_bootstrap" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_SPORTS_BOOTSTRAP">
			<field
				name="sports_bootstrap_profile"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_PROFILE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_PROFILE_DESC"
				default=""
			>
				<option value="">JNONE</option>
				<option value="all">COM_JOOMLEAGUE_CONFIG_SPORT_ALL</option>
				<option value="football">COM_JOOMLEAGUE_CONFIG_SPORT_FOOTBALL</option>
				<option value="ice_hockey">COM_JOOMLEAGUE_CONFIG_SPORT_ICE_HOCKEY</option>
				<option value="basketball">COM_JOOMLEAGUE_CONFIG_SPORT_BASKETBALL</option>
				<option value="handball">COM_JOOMLEAGUE_CONFIG_SPORT_HANDBALL</option>
				<option value="volleyball">COM_JOOMLEAGUE_CONFIG_SPORT_VOLLEYBALL</option>
			</field>
			<field
				name="sports_bootstrap_create_positions"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_POSITIONS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_POSITIONS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create_eventtypes"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_EVENTS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_EVENTS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create_statistics"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_STATISTICS_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_STATISTICS_DESC"
				default="1"
				filter="integer"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field
				name="sports_bootstrap_create"
				type="sportsbootstrap"
				label="COM_JOOMLEAGUE_CONFIG_SPORTS_BOOTSTRAP_CREATE_LABEL"
			/>
		</fieldset>

		<fieldset name="media" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_MEDIA">
			<field
				name="images_base_path"
				type="text"
				label="COM_JOOMLEAGUE_CONFIG_IMAGES_BASE_PATH_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_IMAGES_BASE_PATH_DESC"
				default="images/com_joomleague"
				filter="path"
			/>
			<field
				name="placeholders_note"
				type="note"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDERS_NOTE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDERS_NOTE_DESC"
				hr="true"
			/>
			<field
				name="placeholder_club_logo"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_CLUB_LOGO_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_CLUB_LOGO_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_club_logo.svg"
			/>
			<field
				name="placeholder_person_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PERSON_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PERSON_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_person.svg"
			/>
			<field
				name="placeholder_playground_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PLAYGROUND_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PLAYGROUND_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_playground.svg"
			/>
			<field
				name="placeholder_team_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_team.svg"
			/>
			<field
				name="placeholder_division_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_DIVISION_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_DIVISION_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_division.svg"
			/>
			<field
				name="placeholder_project_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_project.svg"
			/>
			<field
				name="placeholder_project_referee_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_REFEREE_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_REFEREE_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_project_referee.svg"
			/>
			<field
				name="placeholder_project_team_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_TEAM_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_PROJECT_TEAM_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_project_team.svg"
			/>
			<field
				name="placeholder_team_player_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_PLAYER_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_PLAYER_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_team_player.svg"
			/>
			<field
				name="placeholder_team_staff_picture"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_STAFF_PICTURE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TEAM_STAFF_PICTURE_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_team_staff.svg"
			/>
			<field
				name="placeholder_treeto_trophypic"
				type="media"
				directory="com_joomleague/placeholders"
				preview="tooltip"
				label="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TREETO_TROPHYPIC_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_PLACEHOLDER_TREETO_TROPHYPIC_DESC"
				default="images/com_joomleague/database/placeholders/placeholder_trophy.svg"
			/>
		</fieldset>
		<fieldset name="maps" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_MAPS">
			<field
				name="map_provider"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_DESC"
				default="osm"
			>
				<option value="google">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_GOOGLE</option>
				<option value="osm">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_OSM</option>
				<option value="seznam">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_SEZNAM</option>
				<option value="bing">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_BING</option>
				<option value="yandex">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_YANDEX</option>
				<option value="custom">COM_JOOMLEAGUE_CONFIG_MAP_PROVIDER_CUSTOM</option>
			</field>
			<field
				name="map_url_template"
				type="text"
				label="COM_JOOMLEAGUE_CONFIG_MAP_URL_TEMPLATE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_MAP_URL_TEMPLATE_DESC"
				default=""
				showon="map_provider:custom"
			/>
			<field
				name="map_zoom"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_MAP_ZOOM_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_MAP_ZOOM_DESC"
				default="16"
				filter="integer"
			>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
			</field>
		</fieldset>
		<fieldset name="telemetry" label="COM_JOOMLEAGUE_CONFIG_FIELDSET_TELEMETRY">
			<field
				name="telemetry_note"
				type="note"
				label="COM_JOOMLEAGUE_CONFIG_TELEMETRY_NOTE_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_TELEMETRY_NOTE_DESC"
			/>
			<field
				name="telemetry_consent"
				type="list"
				label="COM_JOOMLEAGUE_CONFIG_TELEMETRY_CONSENT_LABEL"
				description="COM_JOOMLEAGUE_CONFIG_TELEMETRY_CONSENT_DESC"
				default=""
			>
				<option value="">COM_JOOMLEAGUE_CONFIG_TELEMETRY_UNSET</option>
				<option value="once">COM_JOOMLEAGUE_CONFIG_TELEMETRY_ONCE</option>
				<option value="monthly">COM_JOOMLEAGUE_CONFIG_TELEMETRY_MONTHLY</option>
				<option value="never">COM_JOOMLEAGUE_CONFIG_TELEMETRY_NEVER</option>
			</field>
		</fieldset>
</config>
